 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     margin: 0px 60px;

 }

 h1,
 h2 {
     font-size: 30px;
 }

 .nav-wrapper {
     /*max-width: 1200px;*/
     height: auto;
     margin: 0 auto;
     padding: 20px 0;
     position: relative;
     display: flex;
     flex: 100%;
     justify-content: flex-end;
     /*     display: grid;
     grid-template-columns: 50% auto;
     justify-items: end;
     align-items: end;*/
 }

 .nav-items {
     font-family: source-sans-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 25px;
 }

 .main-wrapper {
     /*max-width: 1200px;*/
     width: auto;
     margin: auto;
 }


 .nav-wrapper ul li {
     display: inline;
     list-style-type: none;
     padding: 0px 10px;

 }

 .nav-wrapper ul li > a {
     text-decoration: none;
     color: black;
 }

 .nav-logo {
     padding: 0;
     margin: 0;
     font-size: 40px;
     font-family: acumin-pro, sans-serif;
     font-weight: 700;
     position: absolute;
     left: 0;
     line-height: 0.7;
 }

 .nav-logo > span {
     color: #e75d40;
 }


 .head-imgs {
     grid-area: headerImages;
     height: 40vh;
     background-image: url("../images/headerartists.jpg");
     background-repeat: no-repeat;
     background-size: cover;
 }

 .wrapper {
     max-width: 100%;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(6, 1fr);

     grid-template-areas:
         "headerImages headerImages headerImages headerImages headerImages headerImages"
         "featuredMainCon featuredMainCon featuredMainCon featuredMainCon featuredMainCon asideAds"

 }

 .featured-content {
     grid-area: featuredMainCon;
     min-height: 500px;
     margin: 30px 0 30px 0px;
     padding: 0;
 }

 /* featured artists styling */
 .featured-artists-heading {
     margin: 0px 30px 30px 0;
     font-family: acumin-pro, sans-serif;
     font-weight: 700;
 }

 .featured-artists-grid,
 .selected-artist-grid,
 .artists-sorting-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }

 .one-artist {
     margin: 0 30px 0 0;
     position: relative;
     font-family: source-sans-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 25px;

 }

 .one-artist img {
     max-width: 100%;
     transition: .5s ease-in-out all;
 }

 .one-artist:hover img {
     opacity: 0.5;
 }

 .one-artist:hover > p {
     opacity: 1;
 }

 .one-artist > p {
     position: absolute;
     top: 0;
     padding: 20px;
     opacity: 0;
 }

 .one-artist p:nth-child(2) {
     top: 30%;
 }

 /* selected artist styling */
 .selected-artist {
     margin: 40px 30px 40px 0;
     padding-bottom: 50px;
     background-color: #f8f8f8;
 }

 .selected-artist-heading {
     padding: 10px;
     font-family: acumin-pro, sans-serif;
     font-weight: 700;
     margin-bottom: 0;
 }


 .selected-artist-photo img {
     max-width: 100%;
 }

 .selected-artist-text {

     margin: 0;
     display: grid;
     grid-template-rows: auto;
     padding: 0 3% 20% 3%;
     font-family: source-sans-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 25px;
     line-height: 1.1;
 }

.selected-artist-text > p {
    padding: 10px;
}
 .artist-name,
 .artist-contact {
     font-weight: 600;
 }

 .artist-description {
     font-size: 20px;
 }

 /* alphabet sorting artists */

 .alphabet-list {
     margin-right: 30px;
 }

 .alphabet-list > button {
     background: transparent;
     border: none;
     padding: 10px;
     font-family: acumin-pro, sans-serif;
     font-weight: 700;
     font-size: 20px;

 }

 .all-artists-heading {
     font-family: acumin-pro, sans-serif;
     font-weight: 700;
 }

 .artist-specific-letter-heading {
     margin-top: 40px;
     font-family: acumin-pro, sans-serif;
     font-weight: 700;
 }

 .one-artist-alphabet {
     min-height: 300px;
     background-color: #f8f8f8;
     margin: 20px 20px 0 0;
     display: grid;
     grid-template-rows: auto;
     font-family: source-sans-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 25px;
     line-height: 1.1;
 }

 .one-artist-alphabet img {
     max-width: 100%;

 }

 .one-artist-alphabet > p {
     padding: 10px;
 }

 .aside-ads {
     grid-area: asideAds;

 }

 .aside-ads img {
     max-width: 100%;
 }



 .aside-ads-container > div {
     margin: 10px 0;
 }

 .footer {
     display: grid;
     margin: auto;
     padding: 30px;
     width: 100%;
     background-color: #1f2d2e;
     justify-content: center;
     grid-template-columns: minmax(100px, 600px) minmax(100px, 600px);
     grid-template-rows: 1fr;
 }


 .foot-right ul li {
     display: inline;
     list-style-type: none;
 }




 @media screen and (min-width: 1150px) {
     .aside-ads-container {
         display: grid;
         grid-template-rows: repeat(auto-fit);
         margin-top: 80px;
         justify-items: end;
         position: sticky;
         top: 0;
     }

     .ico {
         display: none;
     }

 }

 /*tablet media quieres*/

 @media screen and (max-width: 1150px) {
     .wrapper {
         grid-template-areas:
             "featuredMainCon featuredMainCon featuredMainCon featuredMainCon featuredMainCon featuredMainCon"
             "asideAds asideAds asideAds asideAds asideAds asideAds"
     }

     .aside-ads-container {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
         margin: 20px 0;
         align-items: center;
         position: static;
     }

     .featured-artists-grid div {
         justify-items: center;
         margin: 10px;
     }

     .featured-artists-heading,
     .all-artists-heading,
     .artist-specific-letter-heading {
         margin: 30px 10px 10px 10px;
     }

     .selected-artist {
         margin: 40px 10px;
     }

     .aside-ads-container > div {
         margin: 10px;
     }

     .one-artist-alphabet {
         margin: 10px;
     }

     .nav-wrapper div:first-child {
         display: none;
     }

     .ico > img {
         display: inline;
         height: 100px;
     }

     .nav-wrapper {
         height: 100px;
     }

     .nav-items {
         padding-top: 60px;
     }

     /*     .nav-wrapper {
         padding-bottom: 30px;
     }

     .nav-items {
         grid-column: 1/5;
         text-align: center;
         margin: 0;
         padding: 0;
         position: relative;
         bottom: 0%;
     }

     .nav-logo {
         grid-column: 1/5;
         text-align: center;
     }*/

 }


 /*mobile*/

 /*
 @media screen and (max-width: 690px) {
     .nav-logo {
         grid-column: 1/5;
         text-align: center;

     }

     .nav-items {
         grid-column: 1/5;
         text-align: center;
         position: relative;
         bottom: 0%;
     }


     .nav-wrapper {
         padding-bottom: px;
     }

     .nav-wrapper ul li {
         display: block;
         padding: 10px;
     }

     .aside-ads {
         grid-template-columns: 1fr;
         margin-top: 0;
     }

     .footer > div {
         grid-column: 1/5;
         text-align: center;

     }

 }
*/
