* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');


body {
    margin: 0px 60px;

}

#headerimg {
    background-image: url(../otherImages/AdobeStock_303323553.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    max-width: 100%;
}

.logo img {
    width: 350%
}

#logo img {
    max-width: 100%;
    height: auto;
}

#logo {
    width: 15%;
    height: 15%;
    z-index: 4;
    position: absolute;
    align-content: center;
    margin-top: 25%;
    margin-left: 35.5%;
}

/*navigation styling*/

.nav-wrapper {
    /*max-width: 1200px;*/

    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 100%;
    width: 100%;
    position: relative;
    top: 0;
    text-align: end;
    left: 0;
    z-index: 5;
    margin: 0;
    padding: 0 60px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;


}


.list item a {
    text-decoration: none;

}


.nav-wrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 50% auto;


}

.nav-wrapper ul li {
    display: block;
    float: right;
    text-decoration: none;
    color: black;
    padding: 20px 15px 10px 15px;
}

.name > span {
    color: #e75d40;
}

.name {
    padding: 20px 10px 10px 60px;
    margin: 0;
    margin-top: 18px;
    font-size: 40px;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    position: absolute;
    left: 0;
    line-height: 0.7;
}

.downArrow {
    position: absolute;
    top: 90%;
    left: 1%;
    grid-column: 1/-1;
    color: white;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/*main content styling*/

.main-wrapper {
    max-width: 1200px;
    width: auto;
    margin: auto;
}




/*setting grid layout for page*/

.wrapper {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-areas:
        "featuredMainCon featuredMainCon asideAds"


}

.wrapper p {
    font-weight: normal;
}

.wrapper img {
    margin-bottom: 5px;
}

#fimg {
    width: 100%
}

#fimg2 {
    width: 100%;


}

.featured-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-area: featuredMainCon;
    min-height: 150px;
    margin: 30px 0 30px 0px;
    padding: 0;
    grid-gap: 30px;

}

.featured-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-area: featuredMainCon;
    min-height: 500px;
    margin: 30px 0 30px 0px;
    padding: 0;
    grid-gap: 30px;

}

.featured-gallery p {
    font-style: normal;
}

.featured-gallery img {
    width: 100%;

}

.igfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 30px;
    margin: 30px 0 30px 0px;
    padding: 0;
}

.igfeed img {
    width: 100%
}

.aside-ads {
    grid-area: asideAds;
    background-color: none;
    display: grid;
    margin: 30px 0px 30px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}


/*where the adds will go*/
.aside-ads {
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-left: 20px
}

.aside-ads {
    grid-area: asideAds;

}

.aside-ads img {
    max-width: 100%;
}



.aside-ads-container > div {
    margin: 0px;


}


/*footer sits outside overall grid layout*/
.footer {
    display: grid;
    margin: auto;
    padding: 30px;
    width: 100%;
    background-color: #1f2d2e;
    justify-content: center;
    grid-template-columns: minmax(100px, 600px) minmax(100px, 600px);
    grid-template-rows: 1fr;
}


/*
 .foot-right ul li {
     display: grid;
     grid-template-columns: repeat (auto-fit, minmax(1fr, 1fr))
 }
*/

.logo {
    width: 6%;
}

.social-foot-icons img {
    display: flex;
    flex-direction: row;
    width: 8%;
    height: 8%;
}


/*tablet media quieres*/

@media screen and (max-width: 950px) {
    .wrapper {
        grid-template-areas:
            "featuredMainCon featuredMainCon featuredMainCon"
            "asideAds asideAds asideAds"
    }

    .aside-ads {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0;
    }

    .nav-items {
        grid-column: 1/5;
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 80%;
    }

    .nav-logo {
        grid-column: 1/5;
        text-align: center;
    }

}

/*mobile*/

@media screen and (max-width: 690px) {
    .nav-logo {
        grid-column: 1/5;
        text-align: center;

    }

    .nav-items {
        grid-column: 1/5;
        text-align: center;
        position: relative;
        bottom: 60%;
    }


    .nav-wrapper ul li {
        display: block;

    }


    .footer > div {
        grid-column: 1/5;
        text-align: center;

    }

}
